/*
  General
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.su-title,
.su-article__content h1,
.su-article__content h2,
.su-article__content h3,
.su-article__content h4,
.su-article__content h5,
.su-article__content h6 {
  margin-right: 7.6923%;
  margin-left: 7.6923%;
  line-height: 1.2;
  color: #000000; }
  @media (min-width: 910px) {
    .su-title,
    .su-article__content h1,
    .su-article__content h2,
    .su-article__content h3,
    .su-article__content h4,
    .su-article__content h5,
    .su-article__content h6 {
      margin-right: 0;
      margin-left: 0; } }
  .su-title a,
  .su-article__content h1 a,
  .su-article__content h2 a,
  .su-article__content h3 a,
  .su-article__content h4 a,
  .su-article__content h5 a,
  .su-article__content h6 a {
    color: #000000;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .su-title a:hover, .su-title a:focus,
    .su-article__content h1 a:hover,
    .su-article__content h1 a:focus,
    .su-article__content h2 a:hover,
    .su-article__content h2 a:focus,
    .su-article__content h3 a:hover,
    .su-article__content h3 a:focus,
    .su-article__content h4 a:hover,
    .su-article__content h4 a:focus,
    .su-article__content h5 a:hover,
    .su-article__content h5 a:focus,
    .su-article__content h6 a:hover,
    .su-article__content h6 a:focus {
      color: #000000; }
  .su-title--one,
  .su-article__content h1--one,
  .su-article__content h2--one,
  .su-article__content h3--one,
  .su-article__content h4--one,
  .su-article__content h5--one,
  .su-article__content h6--one {
    font-size: 30px;
    font-size: 1.875rem;
    margin-bottom: 60px;
    margin-bottom: 3.75rem; }
    @media (min-width: 768px) {
      .su-title--one,
      .su-article__content h1--one,
      .su-article__content h2--one,
      .su-article__content h3--one,
      .su-article__content h4--one,
      .su-article__content h5--one,
      .su-article__content h6--one {
        font-size: 40px;
        font-size: 2.5rem;
        margin-bottom: 80px;
        margin-bottom: 5rem; } }
  .su-title--two,
  .su-article__content h1--two,
  .su-article__content h2--two,
  .su-article__content h3--two,
  .su-article__content h4--two,
  .su-article__content h5--two,
  .su-article__content h6--two {
    font-size: 30px;
    font-size: 1.875rem;
    margin-bottom: 40px;
    margin-bottom: 2.5rem; }
    @media (min-width: 768px) {
      .su-title--two,
      .su-article__content h1--two,
      .su-article__content h2--two,
      .su-article__content h3--two,
      .su-article__content h4--two,
      .su-article__content h5--two,
      .su-article__content h6--two {
        font-size: 40px;
        font-size: 2.5rem;
        margin-bottom: 60px;
        margin-bottom: 3.75rem; } }

.su-paragraph,
.su-article__content p {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  font-size: 16px;
  font-size: 1rem;
  color: #000000; }
  @media (min-width: 768px) {
    .su-paragraph,
    .su-article__content p {
      font-size: 18px;
      font-size: 1.125rem; } }
  .su-paragraph a,
  .su-article__content p a {
    color: #000000;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .su-paragraph a:hover, .su-paragraph a:focus,
    .su-article__content p a:hover,
    .su-article__content p a:focus {
      color: #000000; }

.su-head {
  position: relative; }
  .su-head__navigation {
    position: absolute; }
    @media (max-width: 768px) {
      .su-head__navigation {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.9); }
        .su-head__navigation a {
          color: #FFFFFF; } }
    @media (max-width: 768px) {
      .su-head__navigation .menu-item {
        padding: 10px 20px;
        padding: 0.625rem 1.25rem; }
        .su-head__navigation .menu-item a {
          color: #FFFFFF; } }

.su-brand__title {
  margin: 20px 60px 40px 0;
  margin: 1.25rem 3.75rem 2.5rem 0;
  display: inline-block; }

.su-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.su-brand {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #000000;
  color: gray;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  text-align: center; }
  @media (min-width: 500px) {
    .su-brand {
      display: inline-block;
      position: relative;
      width: 150px; } }

.su-navigation {
  position: fixed;
  bottom: 0;
  z-index: 99;
  background-color: #e6e6e6; }
  @media (max-width: 500px) {
    .su-navigation {
      right: 0;
      left: 0; } }
  @media (min-width: 500px) {
    .su-navigation {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 50px; } }
  .su-navigation__wrapper {
    position: relative; }
  .su-navigation__menu-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media (min-width: 500px) {
      .su-navigation__menu-mobile {
        display: none; } }
    .su-navigation__menu-mobile li {
      position: static;
      text-indent: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 25%;
      text-align: center; }
      .su-navigation__menu-mobile li:before {
        display: none;
        content: ""; }
  .su-navigation__menu {
    display: none;
    width: 100%;
    margin: 0; }
    @media (min-width: 500px) {
      .su-navigation__menu {
        display: block;
        text-align: right; } }
    .su-navigation__menu--show {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      @media (min-width: 500px) {
        .su-navigation__menu--show {
          display: inline-block; } }
  .su-navigation__primary-mobile {
    height: 70px; }
    @media (min-width: 500px) {
      .su-navigation__primary-mobile {
        display: none; } }

.su-navigation__item {
  position: static;
  text-indent: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  width: 50%;
  height: 120px;
  padding: 0 6px;
  line-height: 120px;
  text-align: center;
  text-decoration: none;
  font-family: "PT Sans", sans-serif; }
  .su-navigation__item:before {
    display: none;
    content: ""; }
  .su-navigation__item-1 {
    color: #0d5279;
    background-color: #1791d5; }
    .su-navigation__item-1:after {
      background-color: #1791d5; }
  .su-navigation__item-2 {
    color: #0b496b;
    background-color: #1587c7; }
    .su-navigation__item-2:after {
      background-color: #1587c7; }
  .su-navigation__item-3 {
    color: #0a3f5d;
    background-color: #147eb9; }
    .su-navigation__item-3:after {
      background-color: #147eb9; }
  .su-navigation__item-4 {
    color: #08364f;
    background-color: #1274ac; }
    .su-navigation__item-4:after {
      background-color: #1274ac; }
  .su-navigation__item-5 {
    color: #072c42;
    background-color: #116b9e; }
    .su-navigation__item-5:after {
      background-color: #116b9e; }
  .su-navigation__item-6 {
    color: #010406;
    background-color: #0f6290; }
    .su-navigation__item-6:after {
      background-color: #0f6290; }
  .su-navigation__item-7 {
    color: #041a26;
    background-color: #0e5882; }
    .su-navigation__item-7:after {
      background-color: #0e5882; }
  .su-navigation__item-8 {
    color: #031018;
    background-color: #0c4f74; }
    .su-navigation__item-8:after {
      background-color: #0c4f74; }
  @media (min-width: 500px) {
    .su-navigation__item {
      display: inline-block;
      width: auto;
      height: auto;
      line-height: 50px;
      background-color: transparent; } }
  @media (min-width: 500px) {
    .su-navigation__item:after {
      display: block;
      width: 100%;
      height: 4px;
      margin-top: -4px;
      content: ""; } }
  .su-navigation__item .menu-icon {
    font-size: 40px;
    vertical-align: middle; }
  .su-navigation__item--tile {
    vertical-align: middle;
    line-height: 70px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none; }
  .su-navigation__item--one {
    background-color: #737373; }
  .su-navigation__item--two {
    background-color: #595959; }
  .su-navigation__item--three {
    background-color: #262626; }
  .su-navigation__item--four {
    background-color: #000000; }
  @media (min-width: 500px) {
    .su-navigation__item--hide-desktop {
      display: none; } }

.su-article__content p {
  line-height: 1.6; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Overpass", sans-serif; }

body {
  position: relative;
  margin: 0;
  padding: 0; }

small {
  font-size: 85%; }

b,
strong {
  font-weight: bold; }

em {
  font-style: italic;
  color: #000000; }

cite {
  font-style: normal; }

img {
  border: 0; }

hr {
  margin: 20px 0;
  margin: 1.25rem 0;
  border: 0;
  border-top: 1px solid #000000;
  border-bottom: 0; }

abbr[title],
abbr[data-original-title] {
  border-bottom: 2px dotted #000000;
  cursor: help;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500; }

ul,
ol {
  margin: 0 0 30px 0;
  margin: 0 0 1.875rem 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 500px) {
    ul,
    ol {
      margin: 0 0 40px 0;
      margin: 0 0 2.5rem 0; } }
  ul li,
  ol li {
    padding-left: 21px;
    padding-left: 1.3125rem;
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
    text-indent: -21px;
    text-indent: -1.3125rem;
    position: relative;
    line-height: 1.4; }
    ul li p,
    ol li p {
      display: inline; }

ul li {
  text-indent: 0; }
  ul li:before {
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    content: "";
    background-color: #000000; }

ol {
  counter-reset: item; }
  ol > li,
  ol ol > li {
    padding-left: 28px;
    padding-left: 1.75rem;
    position: relative;
    text-indent: -10px; }
  ol > li:before,
  ol ol > li:before {
    font-size: 18px;
    font-size: 1.125rem;
    margin-left: -20px;
    margin-left: -1.25rem;
    padding-right: 10px;
    padding-right: 0.625rem;
    content: counter(item) ". ";
    font-weight: bold;
    color: #000000;
    counter-increment: item; }

dt {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  font-weight: bold; }

dd {
  padding: 0 0 10px 0;
  padding: 0 0 0.625rem 0;
  margin: 0; }

dd + dt {
  margin-top: 15px;
  margin-top: 0.9375rem; }

/**************************
* HELPERS
***************************/
.desktop-only {
  display: none; }
  @media (min-width: 500px) {
    .desktop-only {
      display: block; } }

@media (min-width: 500px) {
  .mobile-only {
    display: none; } }

.noscroll {
  overflow-y: hidden;
  height: 100%; }

.overlay.js-isVisible {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

/**************************
* VISUALLY HIDDEN
***************************/
.sr-only {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0); }

h1,
h2,
h3,
h4,
a,
p {
  font-family: "Overpass", sans-serif; }

body {
  margin: 10px 10px;
  margin: 0.625rem 0.625rem;
  vertical-align: baseline;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  @media (min-width: 600px) {
    body {
      margin: 40px 30px;
      margin: 2.5rem 1.875rem; } }
  @media (min-width: 500px) {
    body {
      margin: 40px 40px;
      margin: 2.5rem 2.5rem; } }

/*
 SHAME FILE

 Sometimes we have to hack. It's just one of those things. We don't like to do it, but Browsers are fickle creatures.

 This file can be used to include the ugly, the bad, and the hacks, but name and shame.
*/
/*
  HACK DESCRIPTION, REASON AND **NAME OF AUTHOR**
*/
.parchment-preview-head {
  display: none; }

.parchment-preview-body {
  margin: 0; }

.icon__block:before {
  display: none; }

.parchment-tab-box__tab {
  position: static;
  text-indent: 0;
  list-style: none;
  padding: 0;
  margin: 0; }
  .parchment-tab-box__tab:before {
    display: none;
    content: ""; }

.parchment-menu li,
.parchment-menu ul ul li {
  position: static;
  text-indent: 0;
  list-style: none;
  padding: 0;
  margin: 0; }
  .parchment-menu li:before,
  .parchment-menu ul ul li:before {
    display: none;
    content: ""; }

.parchment-menu__item {
  position: static;
  text-indent: 0;
  list-style: none;
  padding: 0;
  margin: 0; }
  .parchment-menu__item:before {
    display: none;
    content: ""; }

.parchment-preview-body {
  height: 100%; }

.parchment-main {
  height: 100%; }

.parchment-menu {
  z-index: 99999; }
